<h1>Create a new TODO</h1>

<div style="border: 1px dashed silver; padding: 10px 15px;">
    <%= form_tag("http://google.com.ua", method: 'get') do %>
    <%= label_tag(:q, 'Search for:') %>
    <%= text_field_tag(:q) %>
    <%= submit_tag('Search') %>
    <% end %>
</div>

<%= render 'todos/form' %>

<%= link_to 'Back to Todo List', todos_path %>

