<h1>Create a new TODO</h1>

<div style="border: 1px dashed silver; padding: 10px 15px;">
    <%= form_tag("http://google.com.ua", method: 'get') do %>
    <%= label_tag(:q, 'Search for:') %>
    <%= text_field_tag(:q) %>
    <%= submit_tag('Search') %>
    <% end %>
</div>

<% if @todo.errors.any? %>
    <h2>Error</h2>
    <ul>
        <% @todo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>    
        <% end %>
    </ul>
<% end %>

<!-- initiate a Todo instance var for the form -->
<div style="border: 1px dashed silver; padding: 10px 15px;">
    <%= form_for @todo do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :description %> <%= f.text_area :description %></p>
    <p><%= f.submit %></p>
    <% end %>
</div>

